@{
    ViewData["Title"] = "Новый товар";

}

<link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
<div class="p-2 container">
    <h4 class="">Добавление товара</h4>
    <p style="red">@ViewBag.Message</p>
    <form method="post" action="/Product/Create" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Название</label>
            <input type="text" class="form-control" name="Name" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label enctype="multipart/form-data" for="exampleInputPassword1" class="form-label">Цена</label>
            <div class="input-group">
                <span class="input-group-text">₽</span>
                <input type="number" name="Price" class="form-control" id="exampleInputPassword1">
            </div>

        </div>
        <select class="form-select" name="TypeProductId" aria-label="Default select example" asp-items="ViewBag.Types">
            <option selected>Выберите тип часов</option>
        </select>

        <div class="mb-3">
            <label for="Description" class="form-label">Описание</label>

            <textarea class="form-control" name="Description" id="Description" aria-label="Описание"></textarea>
        </div>
        <p>Загрузите фото часов</p>
        <div class="input-group mb-3">
            <input type="file" class="form-control" name="Foto" id="Foto" accept="image/*">
            <label class="input-group-text" name="Foto" for="Foto">Загрузка</label>
        </div>

        <button type="submit" class="btn btn-card">Добавить</button>
    </form>
</div>