@using minishop.Dtos
@model ProductModel
@{
    ViewData["Title"] = Model.Name;
}
<link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
<div class="p-2 container">
    <h4 class="">@Model.Name</h4>
    <a href="/Product/Delete/@{@Model.Id}" class="btn btn-danger">Удалить</a>
    <div class="row">
        <div class="p-2 col-md-4">
            <img src="/imgs/products/@{@Model.Id}.png" class="p-0 m-auto img-product-details">
        </div>
        <div class="p-2 col-md-4">
            <p>@Model.Description</p>
        </div>
        <div class=" p-2 col-md-4 size-col-price">
            <div class="p-2  details-product-container">
                <div class="row " style="height:auto;">
                    <div class="col-sm-12 col-md-12 col-lg-6 ">
                        <p class="price-container  w-100 p-2 text-center">@Model.Price ₽</p>
                    </div>
                    <div class=" mb-3 col-lg-6 d-flex center-content text-center" style="height:auto;">
                        <p class=" m-0  text-center">шт: 1</p>
                        <div style="margin-left: auto; margin-right: 0em;" class="d-flex">
                            <button type="button"  class="btn btn-plus-min center-content-vh mx-2">
                                <img src="/imgs/product/plus.png" width="14px" >
                            </button>
                            <button type="button" class="btn btn-plus-min center-content-vh  mx-2">
                                <img src="/imgs/product/minus.png" width="14px">
                            </button>
                        </div>
                    </div>
                    @* <div style="" class="my-0 col-sm-4">

                    </div>*@
                </div>

                <button type="button" class="btn  btn-card p-3 w-100">Добавить в корзину</button>
            </div>

        </div>
    </div>
</div>