@{
    ViewData["Title"] = "товар наме";
}
<link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
<div class="p-2 container">
    <h4 class="">Смартфон realme Realme 10 4G 8/128 ГБ, черный</h4>
    <div class="row">
        <div class="p-2 col-md-4">
            <img src="https://www.kindpng.com/picc/m/115-1156797_watches-png-images-free-download-smart-watches-png.png" class="p-0 m-auto img-product-details">
        </div>
        <div class="p-2 col-md-4">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class=" p-2 col-md-4 size-col-price">
            <div class="p-2  details-product-container">
                <div class="row " style="height:auto;">
                    <div class="col-sm-12 col-md-12 col-lg-6 ">
                        <p class="price-container  w-100 p-2 text-center">30 918 ₽</p>
                    </div>
                    <div class=" mb-3 col-lg-6 d-flex center-content text-center" style="height:auto;">
                        <p class=" m-0  text-center">шт: 1</p>
                        <div style="margin-left: auto; margin-right: 0em;" class="d-flex">
                            <button type="button"  class="btn btn-plus-min center-content-vh mx-2">
                                <img src="/imgs/product/plus.png" width="14px" >
                            </button>
                            <button type="button" class="btn btn-plus-min center-content-vh  mx-2">
                                <img src="/imgs/product/minus.png" width="14px">
                            </button>
                        </div>
                    </div>
                    @* <div style="" class="my-0 col-sm-4">

                    </div>*@
                </div>

                <button type="button" class="btn  btn-card p-3 w-100">Добавить в корзину</button>
            </div>

        </div>
    </div>
</div>