@{
    ViewData["Title"] = "товар наме";
}

<div class="p-2 container">
    <h4 class="">Смартфон realme Realme 10 4G 8/128 ГБ, черный</h4>
    <div class="row">
        <div class="col-5 p-2 col-md-4">
            <img src="https://www.kindpng.com/picc/m/115-1156797_watches-png-images-free-download-smart-watches-png.png" class="p-0 m-auto img-product-details">
        </div>
        <div class="col-4 p-2 col-md-4"></div>
        <div class="col-3 p-2 col-md-4">
            <div class="cart-item-container container p-2">
                <div class="d-flex">
                    <div class="">
                        <p class="price-container  p-2">30 918 ₽</p>
                    </div>
                    <p class="position-relative bottom-0 start-0">dsgfhn</p>
                </div>

                <button type="button" class="btn btn-add-cart p-3">Добавить в корзину</button>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-6 col-md-4">.col-6 .col-md-4</div>
        <div class="col-6 col-md-4">.col-6 .col-md-4</div>
        <div class="col-6 col-md-4">.col-6 .col-md-4</div>
    </div>
</div>