.category-card {
    box-shadow: 0px 0px 12px 2px rgba(34, 60, 80, 0.2);
    border-radius: 18px;
    height: 8rem;
    font-size: 1.4rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.text-card {
    text-decoration: none;
    color: black;
}
    .text-card:hover {
        color: #b2974a;
    }

.center-content {
    display: flex;
    align-items: center;
}

.center-content-vh {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-incard {
    background-color: #929393;
    color: #f8f9fa;
    border-radius: 15px;
    font-weight: 600;
}
.btn-incard:hover {
    color: #f8f9fa;
}

.btn-incard:focus {
    box-shadow: none;
}


.btn-card {
    background-color: #ffd86a;
    color: #f8f9fa;
    border-radius: 15px;
    font-weight: 600;
}
.btn-card:hover {
    color: #ebecec;
}
.btn-card:focus {
    box-shadow: 0 0 0 0.25rem rgba(255,216,106,.25);
}

.card-content {
    box-shadow: 0px 0px 12px 2px rgba(34, 60, 80, 0.2);
    border-radius: 18px;

}


.input-filter{
    border-radius: 15px;
}
.input-filter:focus {
    color: #212529;
    background-color: #fff;
    border-color: #ffd86a;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(255,216,106,.25);
}

.card-img {
    max-height: 200px;
    object-fit: contain;
    border-radius: 18px;  
}

.sort-selected {
    box-shadow: 0 0 0 0.5rem rgba(255,216,106,.4);
}

.sort-btn:focus {
    box-shadow: 0 0 0 0.5rem rgba(255,216,106,.4);
}