@{
    ViewData["Title"] = "Home Page";
}
<div class="p-2">
    <h4 class="">Корзина</h4>
    <div class="container cart-item-container p-2 m-4">

        <div class="row p-2">
            <div class="col-12"><p class="price-text-shadow">1 товар</p></div>
            <div class="col-2">
                <div class="">
                    <img src="https://www.kindpng.com/picc/m/115-1156797_watches-png-images-free-download-smart-watches-png.png" class="p-1 img-product">
                </div>
            </div>
            <div class="col-8">
                <p class="p-0 m-0">
                    <a href="#" class="product-text"> Смартфон realme Realme 10 4G 8/128 ГБ, черный</a>
                </p>
                <p class="price-text-shadow">Цвет: черный</p>
            </div>
            <div class="col-2">
                <p class="p-0 m-0" style="font-weight:700">
                    30 918 ₽
                </p>
                <p class="price-text-shadow">
                    1 шт по 30 918 ₽
                </p>
                <button type="button" class="btn btn-delete-cart">Убрать</button>
            </div>
        </div>
    </div>

    <div class="container cart-item-container p-2 m-4">

        <div class="row p-2">
            <div class="col-12"><p class="price-text-shadow">1 товар</p></div>
            <div class="col-2">
                <div class="">
                    <img src="https://www.kindpng.com/picc/m/115-1156797_watches-png-images-free-download-smart-watches-png.png" class="p-1 img-product">
                </div>
            </div>
            <div class="col-8">
                <p class="p-0 m-0">
                    <a href="#" class="product-text"> Смартфон realme Realme 10 4G 8/128 ГБ, черный</a>
                </p>
                <p class="price-text-shadow">Цвет: черный</p>
            </div>
            <div class="col-2">
                <p class="p-0 m-0" style="font-weight:700">
                    30 918 ₽
                </p>
                <p class="price-text-shadow">
                    1 шт по 30 918 ₽
                </p>
                <button type="button" class="btn btn-delete-cart">Убрать</button>
            </div>
        </div>
    </div>


    <div class="container cart-item-container p-2 m-4">

        <div class="row p-2">
            <div class="col-12"><p class="price-text-shadow">1 товар</p></div>
            <div class="col-2">
                <div class="">
                    <img src="https://www.kindpng.com/picc/m/115-1156797_watches-png-images-free-download-smart-watches-png.png" class="p-1 img-product">
                </div>
            </div>
            <div class="col-8">
                <p class="p-0 m-0">
                    <a href="#" class="product-text"> Смартфон realme Realme 10 4G 8/128 ГБ, черный</a>
                </p>
                <p class="price-text-shadow">Цвет: черный</p>
            </div>
            <div class="col-2">
                <p class="p-0 m-0" style="font-weight:700">
                    30 918 ₽
                </p>
                <p class="price-text-shadow">
                    1 шт по 30 918 ₽
                </p>
                <button type="button" class="btn btn-delete-cart">Убрать</button>
            </div>
        </div>
    </div>



</div>