
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Регистрация</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Cart.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/minishop.styles.css" asp-append-version="true" />
</head>
<body class="text-center">

    <div class="container">
        <main role="main" class="pb-3 form-signin">
            
            <form method="post" action="/Register">
                <img class="mb-4 img-signin" src="/imgs/layout/logo.png" alt="" width="72" height="72">
                <h1 class="h3 mb-3 fw-normal">Регистрация</h1>
                <p style="color: red">@ViewBag.Message</p>
                <div class="form-floating my-2">
                    <input type="text" class="form-control" name="Name" id="floatingInput" placeholder="Пётр">
                    <label for="floatingInput">Имя</label>
                </div>
                <div class="form-floating my-2">
                    <input type="text" class="form-control" name="Surname" id="floatingInput" placeholder="Васильев">
                    <label for="floatingInput">Фамилия</label>
                </div>
                <div class="form-floating my-2">
                    <input type="email" class="form-control" name="Email" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Email адрес</label>
                </div>
                <div class="form-floating my-2">
                    <input type="password" class="form-control" name="Password" id="floatingPassword" placeholder="Пароль">
                    <label for="floatingPassword">Пароль</label>
                </div>
                <button class="w-100 btn btn-lg btn-delete-cart" type="submit">Регистрация</button>
              
            </form>
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
