@using minishop.Dtos
@model IEnumerable<ProductCard>

@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />

<div class="py-3">
    <div class="row" style="padding-left: 10%; padding-right: 10%">
        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 p-0">
            <div class="p-2 w-100">
                <div class="category-card row mx-1" style="width: 100%">
                    <div class="col-4 mx-auto p-0">
                        <img src="~/imgs/index/mech.jpg" style="height: 6rem" alt="watch" class="p-0 mx-auto center-content-vh">
                    </div>
                    <div class="col-8 align-middle mx-0 center-content text-break h-100">
                        <a href="/Product?category=mech" class="text-card w-100 h-100 center-content">Механические часы</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 p-0">
            <div class="p-2 w-100">
                <div class="category-card row mx-1" style="width: 100%">

                    <div class="col-4 mx-auto p-0">
                        <img src="~/imgs/index/elec.jpg" style="height: 6rem" alt="watch" class="p-0 mx-auto center-content-vh">
                    </div>
                    <div class="col-8 align-middle mx-0 center-content text-break h-100">
                        <a href="/Product?category=elec" class="text-card w-100 h-100 center-content">Электронные часы</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 p-0">
            <div class="p-2 w-100">
                <div class="category-card row mx-1" style="width: 100%">

                    <div class="col-4 mx-auto p-0">
                        <img src="~/imgs/index/smart.jpg" style="height: 6rem" alt="watch" class="p-0 mx-auto center-content-vh">
                    </div>
                    <div class="col-8 align-middle mx-0 center-content text-break h-100">
                        <a href="/Product?category=smart" class="text-card w-100 h-100 center-content">Смарт-часы</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 p-0">
            <div class="p-2 w-100">
                <div class="category-card row mx-1" style="width: 100%">

                    <div class="col-4 mx-auto p-0">
                        <img src="~/imgs/index/watch.jpg" style="height: 6rem" alt="watch" class="p-0 mx-auto center-content-vh">
                    </div>
                    <div class="col-8 align-middle mx-0 center-content text-break h-100">
                        <a href="/Product?category=all" class="text-card w-100 h-100 center-content">Все категории</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container pt-4">
        <div class="row products-list">
            @foreach (var pr in Model)
            {
                <div class="col p-3 col-md-4 col-lg-3 col-sm-4 col-xs-6 product-card" id="@pr.Id">
                    <div class="card text-center card-content">
                        <img src="~/imgs/products/@(pr.Id).png" class="card-img-top card-img p-2" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="/Products/@pr.Id" class="text-card">@pr.Title</a>
                            </h5>
                            <p class="card-text mb-4">@pr.Price ₽</p>
                            @if (!pr.InCart)
                            {
                                <a href="#" class="btn btn-card px-3 py-2">Добавить в корзину</a>
                            }
                            else
                            {
                                <button class="btn btn-incard px-3 py-2">Уже в корзине</button>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
