@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />

<div class="py-3">
    <div class="row" style="padding-left: 10%; padding-right: 10%">
        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 p-0">
            <div class="p-2 w-100">
                <div class="category-card row mx-1" style="width: 100%">
                    <div class="col-4 mx-auto p-0">
                        <img src="~/imgs/index/mech.jpg" style="height: 6rem" alt="watch" class="p-0 mx-auto center-content-vh">
                    </div>
                    <div class="col-8 align-middle mx-0 center-content text-break">Механические часы</div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 p-0">
            <div class="p-2 w-100">
                <div class="category-card row mx-1" style="width: 100%">

                    <div class="col-4 mx-auto p-0">
                        <img src="~/imgs/index/elec.jpg" style="height: 6rem" alt="watch" class="p-0 mx-auto center-content-vh">
                    </div>
                    <div class="col-8 align-middle mx-0 center-content text-break">Электронные часы</div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 p-0">
            <div class="p-2 w-100">
                <div class="category-card row mx-1" style="width: 100%">

                    <div class="col-4 mx-auto p-0">
                        <img src="~/imgs/index/smart.jpg" style="height: 6rem" alt="watch" class="p-0 mx-auto center-content-vh">
                    </div>
                    <div class="col-8 align-middle mx-0 center-content text-break">Смарт-часы</div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 p-0">
            <div class="p-2 w-100">
                <div class="category-card row mx-1" style="width: 100%">

                    <div class="col-4 mx-auto p-0">
                        <img src="~/imgs/index/watch.jpg" style="height: 6rem" alt="watch" class="p-0 mx-auto center-content-vh">
                    </div>
                    <div class="col-8 align-middle mx-0 center-content text-break">Все категории</div>
                </div>
            </div>
        </div>
    </div>
    <h5>Последие поступления</h5>
    <div>

    </div>
</div>
